In [1]:
from numpy import array
from numpy import diag
from numpy import zeros
from scipy.linalg import svd

from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

In [2]:
''' 
A = array([
[1,2,3,4,5,6,7,8,9,10],
[11,12,13,14,15,16,17,18,19,20],
[21,22,23,24,25,26,27,28,29,30]])
'''

def missing_values_table(df):    
        mis_val = df.isnull().sum()        
        mis_val_percent = 100 * df.isnull().sum() / len(df)        
        type_column = df.dtypes        
        mis_val_table = pd.concat([mis_val, mis_val_percent, type_column], axis=1)        
        mis_val_table_ren_columns = mis_val_table.rename(columns = {0 : 'Missing Values', 1 : '% of Total Values', 2:'type_column'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[mis_val_table_ren_columns.iloc[:,1] != 0].sort_values('% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns

    
def scatterplot(x_data, y_data, x_label="", y_label="", title="", color = "r", yscale_log=False):

    # Create the plot object
    _, ax = plt.subplots()

    # Plot the data, set the size (s), color and transparency (alpha)
    # of the points
    ax.scatter(x_data, y_data, s = 10, color = color, alpha = 0.75)

    if yscale_log == True:
        ax.set_yscale('log')

    # Label the axes and provide a title
    ax.set_title(title)
    ax.set_xlabel(x_label)
    ax.set_ylabel(y_label)

In [41]:
# Singular value decomposition 
#U, s, VT = svd(A)

In [42]:
# create m*n segma 
#Sigma = zeros((A.shape[0],A.shape[1]))
# populate Sigma with n x n diagonal matrix
#Sigma[:A.shape[0], :A.shape[0]] = diag(s)

In [43]:
# select
'''
n_elements = 2
Sigma = Sigma[:, :n_elements]
VT = VT[:n_elements, :]
# reconstruct
B = U.dot(Sigma.dot(VT))
print(B)
# transform
T = U.dot(Sigma)
print(T)
T = A.dot(VT.T)
print(T)
'''

'\nn_elements = 2\nSigma = Sigma[:, :n_elements]\nVT = VT[:n_elements, :]\n# reconstruct\nB = U.dot(Sigma.dot(VT))\nprint(B)\n# transform\nT = U.dot(Sigma)\nprint(T)\nT = A.dot(VT.T)\nprint(T)\n'

In [44]:
from numpy import array
from sklearn.decomposition import TruncatedSVD
# define array
'''
A = array([
[1,2,3,4,5,6,7,8,9,10],
[11,12,13,14,15,16,17,18,19,20],
[21,22,23,24,25,26,27,28,29,30]])
print(A)
# svd
svd = TruncatedSVD(n_components=2)
svd.fit(A)
result = svd.transform(A)
# print(result)
'''

'\nA = array([\n[1,2,3,4,5,6,7,8,9,10],\n[11,12,13,14,15,16,17,18,19,20],\n[21,22,23,24,25,26,27,28,29,30]])\nprint(A)\n# svd\nsvd = TruncatedSVD(n_components=2)\nsvd.fit(A)\nresult = svd.transform(A)\n# print(result)\n'

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
from numpy import nan

In [47]:
data = pd.read_csv("testing_19_2020.csv")
df = data.copy()
#target_ = df['churn']
# df = df.drop(['churn','Customer_ID'], axis=1)
print(df.columns)
df

Index(['Unnamed: 0', 'rev_Mean', 'mou_Mean', 'totmrc_Mean', 'da_Mean',
       'ovrmou_Mean', 'ovrrev_Mean', 'vceovr_Mean', 'datovr_Mean', 'roam_Mean',
       ...
       'forgntvl', 'ethnic', 'kid0_2', 'kid3_5', 'kid6_10', 'kid11_15',
       'kid16_17', 'creditcd', 'eqpdays', 'Customer_ID'],
      dtype='object', length=101)

,Unnamed: 0,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,...,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,Customer_ID
0,0,23.997500,219.250000,22.500000,0.247500,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.0,N,U,U,U,U,U,Y,361.0,1000001
1,1,57.492500,482.750000,37.425000,0.247500,22.750000,9.10000,9.100000,0.000000,0.000000,...,0.0,Z,U,U,U,U,U,Y,240.0,1000002
2,2,16.990000,10.250000,16.990000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.0,N,U,Y,U,U,U,Y,1504.0,1000003
3,3,38.000000,7.500000,38.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.0,U,Y,U,U,U,U,Y,1812.0,1000004
4,4,55.230000,570.500000,71.980000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.0,I,U,U,U,U,U,Y,434.0,1000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,58.719985,513.559937,46.179136,0.888828,41.072247,13.55956,13.295062,0.261318,1.286405,...,0.0,S,U,U,U,Y,U,Y,773.0,1099996
99996,99996,58.719985,513.559937,46.179136,0.888828,41.072247,13.55956,13.295062,0.261318,1.286405,...,0.0,N,U,U,Y,Y,Y,Y,835.0,1099997
99997,99997,58.719985,513.559937,46.179136,0.888828,41.072247,13.55956,13.295062,0.261318,1.286405,...,0.0,U,Y,Y,U,U,U,N,433.0,1099998
99998,99998,58.719985,513.559937,46.179136,0.888828,41.072247,13.55956,13.295062,0.261318,1.286405,...,0.0,S,U,U,U,U,U,N,75.0,1099999
99999,99999,58.719985,513.559937,46.179136,0.888828,41.072247,13.55956,13.295062,0.261318,1.286405,...,0.0,H,U,U,U,U,U,N,5.0,1100000

In [48]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df = df.dropna()
missing_values_table(df)
y_ = df['churn']

Your selected dataframe has 100 columns.
There are 0 columns that have missing values.

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,Customer_ID
0,23.997500,219.250000,22.500000,0.247500,0.000000,0.00000,0.000000,0.000000,0.000000,-157.250000,...,0.0,N,U,U,U,U,U,Y,361.0,1000001
1,57.492500,482.750000,37.425000,0.247500,22.750000,9.10000,9.100000,0.000000,0.000000,532.250000,...,0.0,Z,U,U,U,U,U,Y,240.0,1000002
2,16.990000,10.250000,16.990000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,-4.250000,...,0.0,N,U,Y,U,U,U,Y,1504.0,1000003
3,38.000000,7.500000,38.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,-1.500000,...,0.0,U,Y,U,U,U,U,Y,1812.0,1000004
4,55.230000,570.500000,71.980000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,38.500000,...,0.0,I,U,U,U,U,U,Y,434.0,1000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,58.719985,513.559937,46.179136,0.888828,41.072247,13.55956,13.295062,0.261318,1.286405,-13.933818,...,0.0,S,U,U,U,Y,U,Y,773.0,1099996
99996,58.719985,513.559937,46.179136,0.888828,41.072247,13.55956,13.295062,0.261318,1.286405,-13.933818,...,0.0,N,U,U,Y,Y,Y,Y,835.0,1099997
99997,58.719985,513.559937,46.179136,0.888828,41.072247,13.55956,13.295062,0.261318,1.286405,-13.933818,...,0.0,U,Y,Y,U,U,U,N,433.0,1099998
99998,58.719985,513.559937,46.179136,0.888828,41.072247,13.55956,13.295062,0.261318,1.286405,-13.933818,...,0.0,S,U,U,U,U,U,N,75.0,1099999
99999,58.719985,513.559937,46.179136,0.888828,41.072247,13.55956,13.295062,0.261318,1.286405,-13.933818,...,0.0,H,U,U,U,U,U,N,5.0,1100000

In [10]:
df.columns[df.dtypes.values == 'object']

Index(['new_cell', 'crclscod', 'asl_flag', 'prizm_social_one', 'area',
       'dualband', 'refurb_new', 'hnd_webcap', 'ownrent', 'dwlltype',
       'marital', 'infobase', 'HHstatin', 'dwllsize', 'ethnic', 'kid0_2',
       'kid3_5', 'kid6_10', 'kid11_15', 'kid16_17', 'creditcd'],
      dtype='object')

In [11]:
category_ = ['new_cell', 'crclscod', 'asl_flag', 'prizm_social_one', 'area',
       'dualband', 'refurb_new', 'hnd_webcap', 'ownrent', 'dwlltype',
       'marital', 'infobase', 'HHstatin', 'dwllsize', 'ethnic', 'kid0_2',
       'kid3_5', 'kid6_10', 'kid11_15', 'kid16_17', 'creditcd']
len(category_)

21

In [12]:
df_encoded = df.copy()

In [13]:
df_encoded.shape

(99951, 100)

In [14]:
cat_bool  = [ 'kid0_2','kid3_5', 'kid6_10', 'kid11_15', 'kid16_17']
# df_encoded['kid0_2'] = df_encoded['kid0_2'].map({'U':0 , 'Y':1})
# print(df_encoded['kid0_2'])
for value in cat_bool: 
    df_encoded[value] = df_encoded[value].map({'U':0 , 'Y':1})

In [15]:
category_ = [x for x in category_ if x not in cat_bool]
df_encoded['creditcd'] = df_encoded['creditcd'].map({'N':0 , 'Y':1})
len(category_)
print(category_)

['new_cell', 'crclscod', 'asl_flag', 'prizm_social_one', 'area', 'dualband', 'refurb_new', 'hnd_webcap', 'ownrent', 'dwlltype', 'marital', 'infobase', 'HHstatin', 'dwllsize', 'ethnic', 'creditcd']

In [16]:
category_ = [ x for x in category_ if x not in 'creditcd' ]
len(category_)

15

In [17]:
category_

['new_cell',
 'crclscod',
 'asl_flag',
 'prizm_social_one',
 'area',
 'dualband',
 'refurb_new',
 'hnd_webcap',
 'ownrent',
 'dwlltype',
 'marital',
 'infobase',
 'HHstatin',
 'dwllsize',
 'ethnic']

In [18]:
cat_1 = ['dwlltype', 'ownrent', 'infobase', 'refurb_new']
df_encoded['dwlltype'] = df_encoded['dwlltype'].map({'S':0 , 'M':1})
df_encoded['ownrent'] = df_encoded['ownrent'].map({'R':0 , 'O':1})
df_encoded['infobase'] = df_encoded['infobase'].map({'M':0 , 'N':1})
df_encoded['refurb_new'] = df_encoded['refurb_new'].map({'R':0 , 'N':1})

category_ = [x for x in category_ if x not in cat_1 ]
missing_values_table(df_encoded)

Your selected dataframe has 100 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values, type_column]
Index: []

In [19]:
print(category_)

['new_cell', 'crclscod', 'asl_flag', 'prizm_social_one', 'area', 'dualband', 'hnd_webcap', 'marital', 'HHstatin', 'dwllsize', 'ethnic']

In [20]:
df_encoded['asl_flag'] = df_encoded['asl_flag'].map({'N':0 , 'Y':1})
category_ = [ x for x in category_ if x not in 'asl_flag' ]

for i in category_:
    feature = df_encoded[i].value_counts()
    print(feature.index)

Index(['U', 'Y', 'N'], dtype='object')
Index(['AA', 'A', 'BA', 'CA', 'EA', 'B', 'DA', 'ZA', 'C', 'A2', 'E4', 'U', 'E',
       'D4', 'GA', 'Z4', 'D', 'I', 'G', 'JF', 'Z', 'CY', 'J', 'C2', 'M', 'ZY',
       'D5', 'B2', 'K', 'W', 'C5', 'V1', 'U1', 'EM', 'Z5', 'Y', 'EC', 'GY',
       'O', 'CC', 'E2', 'IF', 'Z1', 'H', 'L', 'P1', 'TP', 'Z2', 'D2', 'EF',
       'A3', 'V', 'ZF', 'S'],
      dtype='object')
Index(['S', 'U', 'C', 'T', 'R'], dtype='object')
Index(['NEW YORK CITY AREA', 'LOS ANGELES AREA', 'DC/MARYLAND/VIRGINIA AREA',
       'MIDWEST AREA', 'SOUTHWEST AREA', 'ATLANTIC SOUTH AREA',
       'CALIFORNIA NORTH AREA', 'NEW ENGLAND AREA', 'DALLAS AREA',
       'CHICAGO AREA', 'GREAT LAKES AREA', 'OHIO AREA', 'NORTH FLORIDA AREA',
       'HOUSTON AREA', 'NORTHWEST/ROCKY MOUNTAIN AREA',
       'CENTRAL/SOUTH TEXAS AREA', 'SOUTH FLORIDA AREA', 'TENNESSEE AREA',
       'PHILADELPHIA AREA'],
      dtype='object')
Index(['Y', 'N', 'T', 'U'], dtype='object')
Index(['WCMB', 'WC', 'UNKW'], dtype='object')
Index(['U', 'M', 'S', 'B', 'A'], dtype='object')
Index(['C', 'I', 'A', 'B', 'G', 'H'], dtype='object')
Index(['A', 'B', 'C', 'J', 'O', 'N', 'D', 'K', 'E', 'L', 'F', 'M', 'G', 'H',
       'I'],
      dtype='object')
Index(['N', 'H', 'S', 'U', 'G', 'Z', 'O', 'I', 'J', 'F', 'B', 'R', 'D', 'P',
       'C', 'M', 'X'],
      dtype='object')

In [21]:
cat_2 = category_.copy()
for val in category_:
    name = df_encoded.groupby(val).size()/len(df_encoded)
    df_encoded.loc[:, val+'_encoded'] =  df_encoded[val].map(name)
    df_encoded = df_encoded.drop([val],axis=1)

In [22]:
for val in category_:
    print(df_encoded[val+'_encoded'])

0        0.669158
1        0.137848
2        0.192995
3        0.192995
4        0.192995
           ...
99995    0.669158
99996    0.669158
99997    0.669158
99998    0.669158
99999    0.669158
Name: new_cell_encoded, Length: 99951, dtype: float64
0        0.169963
1        0.064201
2        0.014557
3        0.041070
4        0.169963
           ...
99995    0.041070
99996    0.001891
99997    0.036698
99998    0.064201
99999    0.041070
Name: crclscod_encoded, Length: 99951, dtype: float64
0        0.347090
1        0.254825
2        0.347090
3        0.161869
4        0.254825
           ...
99995    0.254825
99996    0.347090
99997    0.254825
99998    0.254825
99999    0.347090
Name: prizm_social_one_encoded, Length: 99951, dtype: float64
0        0.043291
1        0.051425
2        0.046523
3        0.051425
4        0.054537
           ...
99995    0.066343
99996    0.066343
99997    0.061880
99998    0.061880
99999    0.066343
Name: area_encoded, Length: 99951, dtype: float64
0        0.722724
1        0.231904
2        0.231904
3        0.231904
4        0.722724
           ...
99995    0.231904
99996    0.231904
99997    0.722724
99998    0.722724
99999    0.722724
Name: dualband_encoded, Length: 99951, dtype: float64
0        0.843803
1        0.153845
2        0.153845
3        0.153845
4        0.843803
           ...
99995    0.153845
99996    0.153845
99997    0.843803
99998    0.843803
99999    0.843803
Name: hnd_webcap_encoded, Length: 99951, dtype: float64
0        0.179418
1        0.179418
2        0.316145
3        0.316145
4        0.179418
           ...
99995    0.316145
99996    0.316145
99997    0.072395
99998    0.379756
99999    0.052286
Name: marital_encoded, Length: 99951, dtype: float64
0        0.630189
1        0.630189
2        0.630189
3        0.630189
4        0.630189
           ...
99995    0.630189
99996    0.199408
99997    0.630189
99998    0.630189
99999    0.630189
Name: HHstatin_encoded, Length: 99951, dtype: float64
0        0.767026
1        0.767026
2        0.767026
3        0.011296
4        0.019369
           ...
99995    0.767026
99996    0.767026
99997    0.767026
99998    0.767026
99999    0.767026
Name: dwllsize_encoded, Length: 99951, dtype: float64
0        0.339827
1        0.045132
2        0.339827
3        0.111345
4        0.038799
           ...
99995    0.129764
99996    0.339827
99997    0.111345
99998    0.129764
99999    0.138698
Name: ethnic_encoded, Length: 99951, dtype: float64

In [23]:
df_encoded

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,new_cell_encoded,crclscod_encoded,prizm_social_one_encoded,area_encoded,dualband_encoded,hnd_webcap_encoded,marital_encoded,HHstatin_encoded,dwllsize_encoded,ethnic_encoded
0,23.997500,219.250000,22.500000,0.247500,0.000000,0.00000,0.000000,0.000000,0.000000,-157.250000,...,0.669158,0.169963,0.347090,0.043291,0.722724,0.843803,0.179418,0.630189,0.767026,0.339827
1,57.492500,482.750000,37.425000,0.247500,22.750000,9.10000,9.100000,0.000000,0.000000,532.250000,...,0.137848,0.064201,0.254825,0.051425,0.231904,0.153845,0.179418,0.630189,0.767026,0.045132
2,16.990000,10.250000,16.990000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,-4.250000,...,0.192995,0.014557,0.347090,0.046523,0.231904,0.153845,0.316145,0.630189,0.767026,0.339827
3,38.000000,7.500000,38.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,-1.500000,...,0.192995,0.041070,0.161869,0.051425,0.231904,0.153845,0.316145,0.630189,0.011296,0.111345
4,55.230000,570.500000,71.980000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,38.500000,...,0.192995,0.169963,0.254825,0.054537,0.722724,0.843803,0.179418,0.630189,0.019369,0.038799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,58.719985,513.559937,46.179136,0.888828,41.072247,13.55956,13.295062,0.261318,1.286405,-13.933818,...,0.669158,0.041070,0.254825,0.066343,0.231904,0.153845,0.316145,0.630189,0.767026,0.129764
99996,58.719985,513.559937,46.179136,0.888828,41.072247,13.55956,13.295062,0.261318,1.286405,-13.933818,...,0.669158,0.001891,0.347090,0.066343,0.231904,0.153845,0.316145,0.199408,0.767026,0.339827
99997,58.719985,513.559937,46.179136,0.888828,41.072247,13.55956,13.295062,0.261318,1.286405,-13.933818,...,0.669158,0.036698,0.254825,0.061880,0.722724,0.843803,0.072395,0.630189,0.767026,0.111345
99998,58.719985,513.559937,46.179136,0.888828,41.072247,13.55956,13.295062,0.261318,1.286405,-13.933818,...,0.669158,0.064201,0.254825,0.061880,0.722724,0.843803,0.379756,0.630189,0.767026,0.129764
99999,58.719985,513.559937,46.179136,0.888828,41.072247,13.55956,13.295062,0.261318,1.286405,-13.933818,...,0.669158,0.041070,0.347090,0.066343,0.722724,0.843803,0.052286,0.630189,0.767026,0.138698

In [24]:
# Normalize total_bedrooms column

In [25]:
cat_3 = ['new_cell_encoded', 'crclscod_encoded', 'prizm_social_one_encoded', 'area_encoded', 'dualband_encoded', 'hnd_webcap_encoded', 'marital_encoded', 'HHstatin_encoded', 'dwllsize_encoded', 'ethnic_encoded']
    
columns = df_encoded.columns
to_normalize_ = [ x for x in columns if x  not in cat_3 ]
df_scaled = df_encoded.copy()
df_scaled.columns
df_scaled.shape

(99951, 100)

In [26]:

res = pd.DataFrame( )
for i in to_normalize_:
    x_array = np.array(df_scaled[i])
    normalized_X = preprocessing.normalize([x_array])
    #print(normalized_X)
    normalized_X = np.reshape(normalized_X, (99951,1))
    #normalized_X = normalized_X.tolist()   
    #print(normalized_X)
    data = []
    for value in normalized_X:
        data.append(value)
        
    # test_ = pd.DataFrame(data, columns= [i])
    test_ = pd.DataFrame(data, columns= [i+'_scaled'])
    # print(test_)
    res = pd.concat([res,test_], axis=1)
    
    # df_ = df_.append(test_)
    # df_scaled = pd.concat(test_, ignore_index=True)
    
    # print(df_scaled)
    # scaled_feature()
    # df_scaled = pd.DataFrame( i: normalized_X )
    # x = df_encoded.values #returns a numpy array
    # min_max_scaler = preprocessing.MinMaxScaler()
    # x_scaled = min_max_scaler.fit_transform(x)
    # df = pd.DataFrame(x_scaled)
    
    #df_encoded.loc[:, i+'_normalized'] =  normalized_X
    #df_encoded = df_encoded.drop([i],axis=1)

In [27]:
#df_s
df_scaled.columns
res.columns

Index(['rev_Mean_scaled', 'mou_Mean_scaled', 'totmrc_Mean_scaled',
       'da_Mean_scaled', 'ovrmou_Mean_scaled', 'ovrrev_Mean_scaled',
       'vceovr_Mean_scaled', 'datovr_Mean_scaled', 'roam_Mean_scaled',
       'change_mou_scaled', 'change_rev_scaled', 'drop_vce_Mean_scaled',
       'drop_dat_Mean_scaled', 'blck_vce_Mean_scaled', 'blck_dat_Mean_scaled',
       'unan_vce_Mean_scaled', 'unan_dat_Mean_scaled', 'plcd_vce_Mean_scaled',
       'plcd_dat_Mean_scaled', 'recv_vce_Mean_scaled', 'recv_sms_Mean_scaled',
       'comp_vce_Mean_scaled', 'comp_dat_Mean_scaled', 'custcare_Mean_scaled',
       'ccrndmou_Mean_scaled', 'cc_mou_Mean_scaled', 'inonemin_Mean_scaled',
       'threeway_Mean_scaled', 'mou_cvce_Mean_scaled', 'mou_cdat_Mean_scaled',
       'mou_rvce_Mean_scaled', 'owylis_vce_Mean_scaled',
       'mouowylisv_Mean_scaled', 'iwylis_vce_Mean_scaled',
       'mouiwylisv_Mean_scaled', 'peak_vce_Mean_scaled',
       'peak_dat_Mean_scaled', 'mou_peav_Mean_scaled', 'mou_pead_Mean_scaled',
       'opk_vce_Mean_scaled', 'opk_dat_Mean_scaled', 'mou_opkv_Mean_scaled',
       'mou_opkd_Mean_scaled', 'drop_blk_Mean_scaled', 'attempt_Mean_scaled',
       'complete_Mean_scaled', 'callfwdv_Mean_scaled', 'callwait_Mean_scaled',
       'churn_scaled', 'months_scaled', 'uniqsubs_scaled', 'actvsubs_scaled',
       'asl_flag_scaled', 'totcalls_scaled', 'totmou_scaled', 'totrev_scaled',
       'adjrev_scaled', 'adjmou_scaled', 'adjqty_scaled', 'avgrev_scaled',
       'avgmou_scaled', 'avgqty_scaled', 'avg3mou_scaled', 'avg3qty_scaled',
       'avg3rev_scaled', 'avg6mou_scaled', 'avg6qty_scaled', 'avg6rev_scaled',
       'refurb_new_scaled', 'hnd_price_scaled', 'phones_scaled',
       'models_scaled', 'truck_scaled', 'rv_scaled', 'ownrent_scaled',
       'lor_scaled', 'dwlltype_scaled', 'adults_scaled', 'infobase_scaled',
       'income_scaled', 'numbcars_scaled', 'forgntvl_scaled', 'kid0_2_scaled',
       'kid3_5_scaled', 'kid6_10_scaled', 'kid11_15_scaled', 'kid16_17_scaled',
       'creditcd_scaled', 'eqpdays_scaled', 'Customer_ID_scaled'],
      dtype='object')

In [28]:
svd = TruncatedSVD(n_components=35)
svd.fit(res)
result = svd.transform(res)

In [29]:
result.shape

(99951, 35)

In [30]:
result

array([[ 1.26630605e-02, -8.88976779e-03,  3.41771643e-03, ...,
        -8.18216682e-05, -3.78697203e-04, -5.97853517e-05],
       [ 2.46806532e-02, -4.97336825e-03,  1.61102813e-05, ...,
        -4.24331214e-04, -9.71778103e-05,  2.00065019e-03],
       [ 1.30418905e-02, -1.14278353e-02,  4.29920310e-03, ...,
        -3.00076818e-03, -2.52524127e-03,  2.48676528e-05],
       ...,
       [ 1.23172375e-02, -8.70531199e-03,  3.74406604e-03, ...,
        -2.57237308e-03, -9.09584440e-04, -1.71605291e-03],
       [ 3.62737282e-02,  4.39856790e-03, -5.30163788e-03, ...,
         2.57526954e-04, -5.46585566e-04,  4.72419287e-04],
       [ 1.27460910e-02, -3.80311808e-03,  1.24885987e-03, ...,
        -4.01480645e-04,  2.66435220e-03,  1.31177993e-03]])

In [31]:
# example split data 
from sklearn.model_selection import train_test_split

In [32]:
X, y = np.arange(10).reshape((5, 2)), range(5)

In [33]:
X_train, X_test, y_train, y_test = train_test_split(result, y_, test_size=0.2)

In [34]:
print(y_.shape)
print(result.shape)

(99951,)
(99951, 35)

In [35]:
# first test with 
from sklearn.linear_model import LogisticRegression

In [36]:
# make instance of model 
logisticReg = LogisticRegression()

In [37]:
logisticReg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [38]:
# mesure performance 
score = logisticReg.score(X_test,y_test)

In [39]:
print(score)

0.9696863588614877

SyntaxError: invalid syntax (<ipython-input-40-4cf4f10edf52>, line 1)

In [ ]:
titles_options = [("Confusion matrix, without normalization", None),
                  ("Normalized confusion matrix", 'true')]
for title, normalize in titles_options:
    disp = plot_confusion_matrix(classifier, X_test, y_test,
                                 display_labels=class_names,
                                 cmap=plt.cm.Blues,
                                 normalize=normalize)
    disp.ax_.set_title(title)

    print(title)
    print(disp.confusion_matrix)

plt.show()